*.iml
.gradle
/local.properties
/signing
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/jarRepositories.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/other.xml
/.idea/runConfigurations.xml
