<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2021. Alwin Ibba
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ibbaa.keepitup">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".main.KeepItUpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".ui.NetworkTaskMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DefaultsActivity"
            android:label="@string/activity_defaults_title"
            android:theme="@style/AppTheme"
            android:parentActivityName=".ui.NetworkTaskMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NetworkTaskMainActivity" />
        </activity>
        <activity
            android:name=".ui.GlobalSettingsActivity"
            android:label="@string/activity_global_settings_title"
            android:theme="@style/AppTheme"
            android:parentActivityName=".ui.NetworkTaskMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NetworkTaskMainActivity" />
        </activity>
        <activity
            android:name=".ui.SystemActivity"
            android:label="@string/activity_system_title"
            android:theme="@style/AppTheme"
            android:parentActivityName=".ui.NetworkTaskMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NetworkTaskMainActivity" />
        </activity>
        <activity
            android:name=".ui.NetworkTaskLogActivity"
            android:label="@string/activity_log_title"
            android:theme="@style/AppTheme"
            android:parentActivityName=".ui.NetworkTaskMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NetworkTaskMainActivity" />
        </activity>

        <receiver android:name=".service.NetworkTaskProcessBroadcastReceiver" />

        <receiver
            android:name=".service.StartupService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.NetworkTaskRunningNotificationService"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>